@import url(global.css);

.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  place-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu a{
  cursor: pointer;
  color: var(--w);
  padding: 16px 0px;
  display: inline-block;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; 
  position: relative;
}

.header-menu a::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--w);
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after{
  width: 100%;
}


.header-menu a:active{
  color: var(--w)
}


/* CONTEINERS */

/* .container-1-bg{
  background-color: var(--c12);
  display: grid;
  place-content: center;
}

.container-1{
  box-sizing: border-box;
  display: grid;
  max-width: 1200px;
  max-height: 600px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 16px;
  gap: 40px;
}

.container-1 img{
  border-radius: 5px;
  flex: 1;
  min-width: 300px;
}

.intro{
  display: grid;
  place-content: center;
}

.intro h1{
  font-family: 'Poppins';
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  padding-bottom: 32px;
  color: var(--w);
  text-wrap: wrap;
}

.intro p{
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 36px;
  color: var(--c5);
  padding-bottom: 16px;
}

.intro a{
  padding: 16px 32px;
  background-color: var(--p1);
  color: var(--p5);
  place-self: start;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
}

.intro a:hover{
  background-color: var(--p2);
}

.intro span{
  color: var(--p1);
} */