@import url(global.css);

.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  place-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  cursor: pointer;
  color: var(--w);
  padding: 16px 0px;
  display: inline-block;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  position: relative;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: var(--c11);
    padding: 8px 16px;
    border-radius: 5px;
  }
  .header-menu a:hover {
    background-color: var(--c10);
  }
  .header-menu a:hover::after {
    display: none;
  }
}

@media (max-width: 580px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    font-size: 14px;
    padding: 0px 12px;
  }
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--w);
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu a:active {
  color: var(--w);
}

/* CONTEINERS */

.intro-bg {
  background-color: var(--c12);
  color: white;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro-conteudo {
  display: grid;
  place-content: center;
}

.intro-conteudo h1 {
  color: var(--w);
  font-family: poppins;
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  margin-bottom: 32px;
}

.intro-conteudo span {
  color: var(--p1);
}

.intro-conteudo p {
  color: var(--c5);
  font-family: roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: regular;
  margin-bottom: 20px;
}
.intro-conteudo a {
  color: var(--p5);
  background-color: var(--p1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
  padding: 16px 32px;
  display: inline-block;
  text-transform: uppercase;
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  place-self: start;
}

.intro-conteudo a:hover {
  background-image: linear-gradient(to bottom, #ffbb00, #e4a30b);
}
