.bicicletas-pagina {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.bicicletas-pagina::after {
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  background-image: url(../../imagens/dec/top-right.svg);
  right: 20px;
  top: 40px;
}

.bicicletas-pagina-conteudo {
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 1fr;
  align-self: start;
}

.bicicletas-pagina-conteudo li {
  display: flex;
  align-items: center;
}

.bicicletas-pagina-conteudo li + li {
  padding-top: 16px;
}

.bicicletas-pagina-conteudo li img {
  width: 24px;
  margin-right: 8px;
}

.bicicletas-pagina-conteudo h2 {
  grid-column: -1/1;
  padding-bottom: 20px;
}

.bicicletas-pagina-conteudo h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  display: block;
  margin-bottom: 8px;
}

.bicicletas-pagina-conteudo p {
  padding-bottom: 32px;
  grid-column: -1/1;
}

.bicicletas-pagina-conteudo a {
  place-self: end;
}

.bicicletas-pagina-img {
  position: relative;
}

.bicicletas-pagina-img span {
  position: absolute;
  background-color: black;
  top: 20px;
  right: 0px;
  display: block;
  padding: 8px 16px 8px 8px;
  border-radius: 5px 0px 0px 5px;
}

.bicicletas-pagina-bg {
  background-image: linear-gradient(to right, var(--c0) 30%, var(--c11) 0%);
}

@media (max-width: 800px) {
  .bicicletas-pagina {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicicletas-pagina-conteudo {
    grid-column: 1;
    grid-template-columns: 1fr 1fr;
  }

  .bicicletas-pagina::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .bicicletas-pagina-conteudo ul {
    display: grid;
    grid-column: -1/1;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    font-size: 1rem;
  }

  .bicicletas-pagina-conteudo a {
    place-self: start;
  }
}
