.bicicletas {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas h2 {
  padding-bottom: 40px;
}

.bicicletas img {
  margin-bottom: 16px;
}

.bicicletas a {
  display: block;
}

.bicicletas ul {
  display: flex;
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
  gap: 40px;
  overflow-y: auto;
  max-width: 1400px;
}

.bicicletas li {
  min-width: 280px;
  flex: 1;
}
.bicicletas p {
  padding-left: 20px;
}

.bicicletas h3 {
  display: flex;
  place-items: center;
}

.bicicletas a:hover h3::before{
  width: 24px;
}

.bicicletas h3::before{
  content: "";
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--p1);
  transition: 0.2s;
}

.bicicletas h3:hover::before{
  width: 24px;
}

@media (max-width: 800px) {
  .bicicletas ul {
    gap: 20px;
  }
}