.footer-bg {
  background-color: var(--c12);
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  padding-top: 60px;
  gap: 45px;
}

.footer-container h3 {
  margin-bottom: 32px;
}

.footer-contato li,
.footer-info li {
  margin-bottom: 16px;
}
.footer-container a {
  color: var(--c6);
}
.footer-rede-social {
  display: flex;
  gap: 32px;
  padding-top: 16px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  max-width: 360px;
  height: 2px;
  display: block;
  border-bottom: 1px solid var(--c11);
  margin-top: 16px;
}

.footer-container p {
  grid-column: -1/1;
  padding-bottom: 64px;
}
