.footer-bg {
  background-color: var(--c12);
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  padding-top: 60px;
}

.info,
.contato {
  display: grid;
  align-self: start;
}

.info {
  justify-self: center;
}
.info h3,
.contato h3 {
  padding-bottom: 32px;
}

.info li {
  padding-bottom: 16px;
}

.rede-social {
  display: flex;
  gap: 20px;
  padding-top: 24px;
}

.info a,
.contato a {
  color: var(--c6);
}

.info a {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.info a:hover,
.contato a:hover {
  color: white;
}

.footer-container p {
  padding-top: 80px;
  padding-bottom: 32px;
  grid-column: -1/1;
}

.contato li:nth-child(2),
.contato li:nth-child(4) {
  border-bottom: 2px solid var(--c2);
  padding-bottom: 16px;
}

.contato li:nth-child(3) {
  padding-top: 16px;
  padding-bottom: 16px;
}

.contato li:nth-child(1) {
  padding-bottom: 16px;
}

.footer-container img {
  object-fit: cover;
}
