.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  place-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  cursor: pointer;
  color: var(--c0);
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--c11);
    padding: 8px 16px;
    border-radius: 5px;
  }
  .header-menu a:hover {
    background-color: var(--c10);
  }
  .header-menu a:hover::after {
    display: none;
  }
}

@media (max-width: 580px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
  }
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--c0);
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu a:active {
  color: var(--w);
}
