.bicicleta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.bicicleta-imagem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: start;
  gap: 20px;
}
.bicicleta-imagem img:first-child {
  grid-column: -1/1;
}
