.footer-bg {
  background-color: var(--c12);
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
}

.footer-container h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li,
.footer-info li {
  margin-bottom: 16px;
}
.footer-container a {
  color: var(--c6);
}

.footer-container a:hover {
  color: var(--c0);
}

.footer-rede-social {
  display: flex;
  gap: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  max-width: 360px;
  height: 2px;
  display: block;
  border-bottom: 1px solid var(--c11);
  margin-top: 16px;
}

.footer-copy {
  grid-column: -1/1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-logo {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-copy {
    margin-top: 0px;
  }
}
