.intro-bg {
  background-color: var(--c12);
  box-shadow: inset 0px -120px 0px var(--c0);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  position: relative;
}

.intro-bg::after {
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  background-image: url(../../imagens/dec/bottom-left.svg);
  bottom: 160px;
  left: 20px;
  z-index: 0;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.intro-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.intro-conteudo {
  display: grid;
  place-content: end;
  padding-bottom: 200px;
}

.intro-conteudo h1 {
  color: var(--c0);
  margin-bottom: 32px;
}

.intro-conteudo p {
  color: var(--c5);
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .intro-bg {
    background-color: var(--c11);
    box-shadow: inset 0px -60px 0px var(--c0);
    padding-top: 40px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  }

  .intro-conteudo h1,p  {
    margin-bottom: 0px;
  }

  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .intro-conteudo {
    padding-bottom: 0px;
    gap: 20px;
  }
  .intro img {
    width: 100%;
    height: 300px;
  }

  .intro-bg::after {
    display: none;
  }
}
