/* .seguro-bg{

} */

.seguro-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.prata-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.prata-inicio span{
  justify-self: end;
}
