.depoimento-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--p1);
  margin-top: 120px;
}

.img-container {
  max-height: 520px;
}
.depoimento-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

.depoimento-texto {
  align-self: end;
  padding: 40px 20px 80px 80px;
  max-height: 520px;
  box-sizing: border-box;
}

.depoimento-texto p {
  font: italic 900 2rem/1.25 "Merriweather", sans-serif;
  max-width: 32ch;
  position: relative;
  padding-bottom: 32px;
}

.depoimento-texto span {
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.depoimento-texto p::before {
  content: "“";
  font-family: "Merriweather";
  font-size: 5rem;
  position: absolute;
  left: -50px;
  top: -20px;
  color: var(--p2);
}

.depoimento-texto p::after {
  content: "”";
  font-family: "Merriweather";
  position: absolute;
  font-size: 5rem;
  color: var(--p2);
}

@media (max-width: 800px) {
  .depoimento-container {
    grid-template-columns: 1fr;
  }

  .img-container {
    max-height: 200px;
  }
  .depoimento-texto {
    text-align: center;
    justify-self: center;
    padding: 40px 20px 40px 20px;
  }

  .depoimento-texto p {
    font: italic 900 1.5rem/1.3 "Merriweather", sans-serif;
  }

  .depoimento-container {
    margin-top: 0px;
  }

  .depoimento-texto p::before {
    left: -50px;
    top: -25px;
  }
}
