#orcamento {
  background: linear-gradient(var(--c11) 600px, var(--c1) 0px);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-bottom: 120px;
}

.orcamento h2 {
  position: relative;
  text-transform: uppercase;
}

.orcamento h2::before {
  content: "";
  width: 4px;
  height: 8px;
  position: absolute;
  background-color: var(--p1);
  left: -12px;
  bottom: 5px;
}

.orcamento-dados h2 {
  grid-column: 1/-1;
  text-transform: uppercase;
}

.orcamento-dados {
  background-color: var(--c0);
  border-radius: 0px 5px 5px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.orcamento-dados::after{
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  background-image: url(../../imagens/dec/bottom-right.svg);
  right: 20px;
  bottom: 20px;
}


.orcamento-dados div + h2 {
  padding-top: 20px;
}

.orcamento-dados :nth-child(4),
.orcamento-dados :nth-child(5),
.orcamento-dados :last-child {
  grid-column: 1/-1;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
  position: relative;
}

.orcamento-produto::after{
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  background-image: url(../../imagens/dec/bottom-left.svg);
  left: 20px;
  bottom: 20px;
}

.orcamento-produto {
  background-color: var(--c12);
  border-radius: 5px 0px 0px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto label {
  grid-column: initial;
}

.orcamento-produto label:hover {
  background-color: var(--c9);
}

.orcamento-produto label {
  color: var(--c4);
  background-color: var(--c10);
  font: 400 1rem / 1.5 "Poppins", sans-serif;
  padding: 12px 18px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid black;
}

.orcamento-produto label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--c6);
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 8px;
}

.orcamento-produto input:checked + label::before {
  border-color: var(--c7);
  box-shadow: inset 0 0 0 3px var(--c0), inset 0 0 0 6px var(--c7);
}

.orcamento-produto input:checked + label {
  background-color: var(--c0);
  color: var(--c12);
  outline: 2px solid var(--p1);
}

.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-conteudo h2 {
  margin-top: 20px;
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo label span {
  display: none;
}

.orcamento-conteudo input:checked + label span {
  display: inline-block;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

.orcamento-conteudo div ul {
  display: grid;
  gap: 10px;
}

.orcamento-conteudo div li {
  display: flex;
  gap: 10px;
}
.orcamento-conteudo div li img {
  width: 16px;
}

.orcamento-conteudo div:nth-of-type(n + 1){
  display: none;
}

#nimbus:checked ~ div:nth-of-type(1),
#magic:checked ~ div:nth-of-type(2),
#nebula:checked ~ div:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--c0);
  padding: 20px;
  border-radius: 5px;
}


@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 32px 32px;  
}
}


@media (max-width: 800px) {
 .orcamento,
 .orcamento-dados{
  grid-template-columns: 1fr;
 }

 .orcamento-produto::after{
 display: none;
}
}
